@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://unpkg.com/leaflet/dist/leaflet.css');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Noto Sans TC", serif;
    font-weight: 500;
}

.scrollbar-custom {
    width: 2px;
}
.scrollbar-custom::-webkit-scrollbar{
    width: 10px;
    height: 6px;
}
.scrollbar-custom::-webkit-scrollbar-thumb {
    background-color: #FF6347;
    border-radius: 10px;
}

.scrollbar-custom::-webkit-scrollbar-thumb:hover {
    background-color: #ca301c;
}

.scrollbar-custom::-webkit-scrollbar-track {
    background-color: #FFF;
    border-left: 4px solid #F9BF63;
    border-right: 4px solid #F9BF63;
    border-radius: 10px;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #F9BF63;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background-color: #FF6347;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background-color: #ca301c;
  }